.secret-company__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.secret-company__text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #4d4943;
}

.secret-company__text::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 47px;
  background-color: #f1ad1d;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 53px;
}

.team_item {
  position: relative;
}

.colored {
  color: #f1ad1d;
}

.item_name {
  position: absolute;
  width: 164px;
  height: 45px;
  background: linear-gradient(0deg, #333333, #333333), #111111;
  bottom: 14px;
  left: 14px;
  text-align: center;
}
.nav-list{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
    align-items: center;
}
.nav-list ul{
    display: flex;
}
.nav-list li{
    margin-right: 69px;
}
.nav-list li:hover{
    color: #F1B128;
}
.nav-list img{
    padding-right: 261px;
}
.hr{
    width: 1169px;
height: 3px;
background: #F1B128;
margin: 0 auto;
}
.heading-sertin{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
text-align: center;
color: #333333;
margin-top: 128px;
}
.subtitle-sertin{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 24px;
text-align: center;
color: #4D4943;}
.content-right{
    display: flex;
    justify-content: center;
}
.content-right img{
    margin-right: 30px;
}
.content{
   margin-top: 108px;
}
